html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    background: #243b55; 
    overflow: hidden;
    /* linear-gradient(#141e30, #243b55) */
  }

  .map{
    position: absolute;
    background: white;
  }

  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .container{
    box-sizing: border-box; 
    min-width: 90vw;
    min-height: 85vh;
    background-color: #ffffff;
    border-radius: 35px;
    /* box-shadow: 3px 3px 17px #888888, -3px -5px 17px #888888; */
    box-shadow: 3px 3px 17px #161616, -3px -5px 17px #161616;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(10, 8.5vh);

  }


  .login-text{
      /* border: 1px solid #000; */
      place-self: center;
      grid-column: 7/9;
      grid-row: 4;
      /* margin-top: 20vh; */
      margin-bottom: 5vh;
      /* font-family: 'Titillium Web', sans-serif; */
      font-size: 3.5rem;
      font-weight: 550;
      color: rgb(34, 76, 135);

      /* margin-left: 10vw; */
  }

  .username{

      grid-row: 6;
      grid-column: 7;
      /* margin-top: 10vh; */
      place-self: center;
      margin-left: 10vw;

  }

  .username input{

      width: 25vw;
      /* height: 5vh; */
      text-indent: 2vw;
      font-size: 1rem;
      padding: 12px;
      border: 2px solid #000;
      border-radius: 1.5vh;
      outline: none;
  }

  .username input::placeholder{

      
      opacity: 100%;

  }

  .login-button{

      grid-column: 7; 
      grid-row: 9 ; 
      /* margin-top: 100px;  */
      width: 20vw; 
      height: 7vh; 

      /* padding: 0; */

      background: rgb(34, 76, 135);
      border: none;
      outline: none;
      border-radius: 2vh;
      overflow: hidden;
      font-size: 1.5rem;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      /* font-weight: 500; */
      cursor: pointer;
  }

  /* .login-button :: hover{

  } */

  .homeone{
      /* position: relative; */
      /* z-index: 2; */
      grid-row: 1;
      grid-column: 5;
      place-self: center;
      cursor: pointer;
  }

  .logo-login{
      font-family: 'Titillium Web', sans-serif;
      grid-row: 1;
      grid-column: 1;
      place-self: center; 
      height: 10vh; 
      width: 5vw; 
      margin-top: 15%;
      z-index: 2

  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 0;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  /* input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: #68dceb;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="submit"]:hover {
    background: #fff;
    color: #68dceb;
  }
   */
  /* button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: #68dceb;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"]:hover {
    background: #fff;
    color: #68dceb;
  } */
  
  :root{
    --bg: #242526;
    --bg-accent:#484a4d;
    --text-color:#dadce1;
    --nav-size:60px;
    --border:1px solid #474a4d;
    --border-radius:8px;
    --speed:500ms;

}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
/* a{
    color:var(--text-color);
    text-decoration:none;
} */
.navbar{
    height:var(--nav-size);
    background-color:var(--bg);
    padding:0 1rem;
    border-bottom:var(--border);
}
.navbar-nav{
    max-width:100%;
    height:100%;
    display:flex; 
    justify-content:flex-end;
}
.icon-button{
    /* --button-size:calc(var(--nav-size)*0.5); */
    width:100px;
    height:30px;
    background-color:var(--bg-accent);
    border-radius:0px !important;
    padding:5px;
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:filter 3000ms;

}
.icon-button:hover{
    filter: brightness(1.2);
}
.nav-item {
    list-style: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  .App-header {
    background-color: rgb(90, 135, 227);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  