:root{
    --bg: #242526;
    --bg-accent:#484a4d;
    --text-color:#dadce1;
    --nav-size:60px;
    --border:1px solid #474a4d;
    --border-radius:8px;
    --speed:500ms;

}
ul{
    list-style: none;
    margin:0%;
    padding:0%;
}
a{
    color:var(--text-color);
    text-decoration:none;
}
.navbar{
    height:var(--nav-size);
    background-color:var(--bg);
    padding:0 1rem;
    border-bottom:var(--border);
}
.navbar-nav{
    max-width:100%;
    height:100%;
    display:flex; 
    justify-content:flex-end;
}
.icon-button{
    --button-size:calc(var(--nav-size)*0.5);
    width:var(--button-size);
    background-color:#484a4d;
    border-radius:50%;
    padding:5px;
    margin:2px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:filter 3000ms;

}
.icon-button:hover{
    filter: brightness(1.2);
}
.nav-item {
    list-style: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
  }