.container{
    box-sizing: border-box; 
    min-width: 90vw;
    min-height: 85vh;
    background-color: #ffffff;
    border-radius: 35px;
    /* box-shadow: 3px 3px 17px #888888, -3px -5px 17px #888888; */
    box-shadow: 3px 3px 17px #161616, -3px -5px 17px #161616;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(10, 8.5vh);

}

.requestContainer{
    box-sizing: border-box; 
    display: grid;
    grid-template-columns: repeat(5, 7vw);
    grid-template-rows: repeat(6, 10vh);
    width: 35vw;
    height: 60vh;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    /* border: 2px solid black; */
    position: relative;
    /* top: '-20vh'; */
    border-radius: 35px;
    /* box-shadow: 3px 3px 17px #888888, -3px -5px 17px #888888;
    box-shadow: 3px 3px 17px #161616, -3px -5px 17px #161616; */
    box-shadow: 3px 3px 17px black, -3px -5px 17px black;
    box-shadow: 3px 3px 17px black, -3px -5px 17px black;

}




.login-text, .register-text{
    /* border: 1px solid #000; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5rem;
    font-weight: 550;
    color: #1e0674;

    /* margin-left: 10vw; */
}

.username{

    grid-row: 6;
    grid-column: 7;
    /* margin-top: 10vh; */
    place-self: center;
    margin-left: 10vw;
    
}

.username input, .username-register input, .requestContainer input{

    width: 25vw;
    background-color: #ffffff;
    text-indent: 2vw;
    font-size: 1rem;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 1.5vh;
    outline: none;
}
.resetContainer input{

    width: 20vw;
    background-color: #ffffff;
    text-indent: 2vw;
    font-size: 1rem;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 1.5vh;
    outline: none;
}

.username input::placeholder{

    
    opacity: 100%;

}

.username-register{

    grid-column: 2;
    grid-row: 4/9;
    /* place-self: center; */
    /* margin-left: 10vw; */

}

.username-register input::placeholder{

    opacity: 100%;
}


.login-button, .get-otp{

    /* margin-top: 100px;  */
    width: 20vw; 
    height: 7vh; 

    /* padding: 0; */

    background: rgb(34, 76, 135);
    border: none;
    outline: none;
    border-radius: 2vh;
    overflow: hidden;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: 500; */
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.register-button{

    transition: 0.3s ease-in-out;

}

.register-button:hover,
.register-button:hover ~ .register-button
.register-button:hover ~ .register-button{

    transform: scale(1.2)

}

.login-button:hover, .get-otp:hover{

    transform: scale(1.1);
    border: 3px solid black;
    /* cursor: url('./pointer-test.png'), auto; */

}

.homeone{
    /* position: relative; */
    /* z-index: 2; */
    grid-row: 1;
    grid-column: 7;
    place-self: center;
    cursor: pointer;
}

.logo-login{
    font-family: 'Titillium Web', sans-serif;
    grid-row: 1;
    grid-column: 1;
    place-self: center; 
    height: 10vh; 
    width: 5vw; 
    margin-top: 15%;
    z-index: 2;
    /* cursor: url('./pointer-test.png'), auto; */

}

.role-button, .role-buttonclicked, .role-buttonclicked2{
    position: relative;
    top: -9vh;
    left: -7.2vw;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.7vw;
    border: 1px solid #161616;
}

.role-button:hover,
.role-button:hover ~ .role-button
.role-button:hover ~ .role-button{
    
    transform: scale(1.2);
}

.role-buttonclicked{

    border: 5px solid green;
    border-radius: 50%;
}

.role-buttonclicked2{

    border: 5px solid green;
    border-radius: 50%;
}

.otp-div input{

    width: 10vw;
    text-indent: 2vw;
    font-size: 1rem;
    padding: 12px;
    border: 2.5px solid #000;
    border-radius: 1.5vh;
    outline: none;
}

.otp-div input:disabled{
    border: 0.2px solid black;
    cursor: not-allowed;
}